
    
.subheard{
    margin-bottom: .5rem;
    position: relative;
    font-weight: 500;
    letter-spacing:2px;
    color:var(--text-dark)

}
.subheard::after{
    position: absolute;
    content:"";
    top:50%;
    transform: translate(1rem -50%);
    height: 2px;
    width: 4rem;
    background-color: var(--primary-color);
}

.header{
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color:var(--text-dark)
}

.description{
    max-width: 600px;
    margin-bottom: 1rem;
    color:var(--text-light)
}


/* .container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;

} */
.container{
    position: fixed;
    isolation:isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin:auto;
    z-index: 9;
}
.nav{
    background-image: url("../../assets//shellas.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
}
.menu{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    background-color: var(--primary-color);
 

}

i{
    cursor: pointer;
    color:var(--white);
    font-size: 1.5rem; 
 


}

.link{

    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: 0.5s ease;
    z-index: -1;
    transform: translateY(-100%);
    background-color: rgba(188, 28, 92, 0.9);

}

.link.open {
    transform: translateY(0);
    z-index: 10;
  }
  .grouplist {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list {
    margin: 0;
    padding: 0;
  }
.lista{
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color:var(--white);
    transition: color 0.3s;
}
.lista:hover {
    color:blue; 
}
.btn{
    display:none;
}

