.container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}